@charset"UTF-8";
/*import fonts*/
@font-face {
    font-family:VarelaRound-Regular;
    src: url("../vendors/fonts/VarelaRound-Regular.ttf");
}
@font-face {
    font-family:OpenSans-ExtraBold;
    src: url("../vendors/fonts/OpenSans-ExtraBold.ttf");
}
/* Main Style */
html, body{
    font-family:OpenSans-Regular;
    background-color: #f8f8f8;
}
.btn:focus{
   outline: 0;
    box-shadow: none!important;
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    color: white;
    background-color: #E01705;
    border: none;
}
/*utilities*/
.features,
.technical,
.testimonials{
    margin: 80px 0;
}
.technical .jumbotron,
.testimonials .jumbotron{
    background-color: transparent;
}
.features .title,
.technical .title,
.testimonials .title{
    text-align: center;
    color: #0a1f44;
}
.features .title h6,
.technical .title h6{
    color:#E01705;
    font-size: 0.8rem;
    font-family:VarelaRound-Regular;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}
.features .title h2,
.technical .title h2,
.testimonials .title h2,
.testimonials .jumbotron .box h5{
    font-family:OpenSans-ExtraBold;
    color:#0a1f44;
    text-transform: capitalize;
    line-height: 2.6rem;
    margin-bottom: 20px;
}
.features .title h2 span,
.technical .title h2 span{
    color: #E01705;
}
.features .title p,
.technical .title p,
.testimonials .title p{
    width: 50%;
    margin: 0 auto;
}
p, button{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #103a88;
    font-size: 0.9rem;
}
/*top_bar*/
.top_bar{
    background-color: #0a1f44;
    padding: 8px 0 2px 0;
    text-align: center;
    display: flex;
    color: white;
}
.top_bar p{
    display: inline-block;
    margin-right: 10px;
    color: white;
}
.top_bar button{
    text-transform: uppercase;
    background-color: #E01705;
    font-size: 14px;
    padding: .375rem 1rem;
}
/*header section*/
header{
    background-color: white;
}
.navbar-expand-md{
    padding: 10px 0;
}
.navbar-expand-md .navbar-nav .nav-item a{
    color: #0a1f44;
    text-transform: capitalize;
    font-size: 1rem;
    margin-right: 5px;
    float: right;
    font-family:VarelaRound-Regular;
}
/*media query*/
@media (min-width: 576px) and (max-width: 767.98px){
    .navbar-expand-md .navbar-nav{
        text-align: center;
    }
}
/*showcase*/
.showcase{
    background-color: white;
    height: auto;
    padding: 100px 0;
    width: 100%;
}
.showcase .showcase_info{
    margin-top: 100px;
}
.showcase .showcase_info h1{
    font-family:OpenSans-ExtraBold;
    color: #0a1f44;
    font-weight: bolder;
    font-size: 3rem;
    text-transform: uppercase;
}
.showcase .showcase_info h1 span{
    color: #E01705;
}
.showcase .showcase_info p,
.testimonials .jumbotron .box h6{
    color: #103a88;
    font-size: 14px;
    width: 60%;
    margin-top: 10px;
}
.showcase .showcase_info a{
    color: white;
    font-family:VarelaRound-Regular;
    border-radius: 50px;
    background-color:#E01705;
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 0.7rem;
    padding: 10px 20px;
    margin-right: 5px;
}
.showcase .showcase_info a:first-child:active{
    background-color:#E01705;
}
.showcase .showcase_info a:last-child{
    background-color:#0a1f44;
}
.showcase .showcase_info a:last-child:active{
    background-color:#0a1f44;
    color: white;
}
/*media query*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .showcase .showcase_info{
        text-align: center;
        margin-bottom:100px;
    }
    .showcase .showcase_info p{
        margin: 0 auto;
    }
    .showcase_img .img{
        margin: 0 auto;
        display: block;
    }
    .showcase{
        padding-bottom: 0!important;
    }
}
@media (max-width: 575.98px) {
    .showcase .showcase_info{
        text-align: center;
        margin-bottom:100px;
    }
    .showcase .showcase_info p{
        margin: 0 auto;
    }
    .showcase_img .img{
        margin: 0 auto;
        display: block;
    }
    .showcase{
        padding-bottom: 0!important;
    }
}
/**features area**/
.features .features_content,
.technical .technical_content,
.testimonials .jumbotron .testimonials_content {
    margin-top: 100px;
}
.features .features_content .left,
.features .features_content .right {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 20px;
}
.features .features_content .left h4,
.features .features_content .right h4,
.technical .technical_content .right .block h4{
    color: #0a1f44;
    font-family:VarelaRound-Regular;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: bold;
}
.features .features_content .left p,
.features .features_content .right p,
.testimonials .jumbotron .box p{
    font-size: 0.8rem;
    text-align: justify;
}
.features .features_content .left .left_img .fas,
.features .features_content .right .right_img .fas,
.technical .technical_content .right .block .fas{
    padding: 14px 15px;
    border-radius: 50%;
    border: 1px solid #E01705;
    color: #E01705;
    font-size: 1.1rem;
    background-color: white;
}
.features .features_content .left .middle{
    border: 1px solid red;
}
.features .features_content .middle .embed-responsive{
    width: 75%!important;
    margin: 0 auto!important;
}
/*technical*/
.technical{
    background-color: white;
}
.technical .technical_content .right{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.technical .technical_content .right .block,
.testimonials .jumbotron .box {
    width: 200px;
    height: 250px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background-color: white;
    padding: 20px 10px;
    text-align: center;
    margin-bottom: 30px;
}
.technical .technical_content .right .block h4{
    margin-top: 15px;
    line-height: 1.5rem;
}
.technical .technical_content .embed-responsive{
    width: 55%!important;
    margin: 0 auto!important;
}
/*testimonials*/
.testimonials .jumbotron{
    padding-top: 0;
}
.testimonials .jumbotron .box{
    position: relative;
    width: 100%;
    padding: 20px;
    height: 330px;
}
.testimonials .jumbotron .box .top_img>img{
    width: 22%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -35px;
    left: 38%;
}
.testimonials .jumbotron .box span{
    color:#ffc107;
    margin-top: 27px;
    font-size:0.5rem;
}
.testimonials .jumbotron .box h5{
    font-size: 0.8rem;
    margin-top: 5px;
    line-height: 0.6rem;
    margin-bottom: 0;
    font-family:VarelaRound-Regular;
    font-weight: bold;
}
.testimonials .jumbotron .box h6{
    width: 100%;
    color: #103a88;
    font-weight: bold;
    font-size: 0.8rem;
}
.testimonials .jumbotron .box p{
    margin-top: 20px;
    font-size: 0.8rem;
}
.testimonials .jumbotron .testimonials_content .box .bottom_img{
    text-align: center;
    width: 22%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: -17px;
    left: 38%;
}


