@charset"UTF-8";
/*reset*/
*,
*:after,
*:before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*main style*/
body, html{
    line-height: 1.7rem;
    font-family: 'Baloo Tamma 2', cursive;
}
.container{
    width: 80%;
    margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
/*utility classes*/
.bg_dark{
    background-color: #2F2F2F;
}
.bg_yellow{
    background-color: #FED136;
}
.text_primary{
    color: #FED136;
}
.text_white{
    color: white;
}
.text_center{
    text-align: center;
}
/*navbar style*/
.navbar{
    padding: 15px 0;
}
.navbar .nav-items{
    display: flex;
    justify-content: space-between;
}
