@charset"UTF-8";

/*reset*/
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*main style*/
body,html{
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.7rem;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
/*utility classes*/
.container{
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}
.text-center{
    text-align: center;
}
.bg_dark{
   background-color: black;
}
.text-primary{
    color: #fed136;
}
.text-white{
    color: white;
}
/*navbar style*/
.navbar{
     padding: 16px 0;
 }
.navbar .nav-item{
    display: flex;
    justify-content: space-between;
}
.navbar .nav-item .logo a{
    font-size: 2rem;
    color: #fed136;
    font-weight: bold;
}
.navbar .nav-item .links ul li {
    display: inline-block;
    padding: 0 8px;
}
.navbar .nav-item .links ul li a:hover {
    color: #fed136;
}
/*contact*/
.contact{
    width: 100%;
    height: 100%;
    padding: 100px 0 0 0;
}
.contact .contact_details{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact .contact_details h1{
    color: #212529;
    font-family:Arial;
    display: block;
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 10px;
}
.contact .contact_details h1:after{
    content: "";
    width: 15%;
    height: 3px;
    background-color: #fed136;
    display: block;
    margin: 15px auto;
}
.contact .contact_details p{
    color: #6c757d;
    font-family:"Times New Roman";
    font-size: 1.2rem;
    width: 60%;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.contact .our_address{
    width: 100%;
    height: auto;
    display: flex;
}
.contact .our_address .contact_block{
    width: 50%;
    height: 200px;
    text-align: center;
    margin-top: 50px;
}
.contact .our_address .contact_block .fas{
    color: #212529!important;
}
.contact .our_address .first_contact .fas{
    color: #fed136!important;
    margin-bottom: 20px;
}
.contact .our_address .contact_block img{
    width: 45px;
    height: 45px;
    display: block;
    margin: 0 auto;
}
.contact .our_address .contact_block p{
    width: 100%;
    color: #212529;
    font-size: 1.2rem;
    font-family:"Times New Roman";
    font-weight: normal;
}
.contact .our_address .contact_block a{
    width: 100%;
    color: #6c757d;
    font-size: 1.2rem;
    font-family: "Times New Roman";
    text-transform: none;
    font-weight: normal;
    padding-top: 17px;
    display: block;
}
.contact .copyright{
    background-color: #f8f9fa;
    text-align: center;
    padding: 30px 0;
}
.contact .copyright p{
    width: 100%;
    color: #6c757d;
    font-size: 1rem;
    font-family:"Times New Roman";
    font-weight: normal;
}